.carousel {
  height: 100% !important;
  width: 100% !important;
  position: relative;
}

html, body {
    height: 100%;
    background-color: white;
}

body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

.alert {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
}

.img {
    filter: brightness(0.45);
    height: 100% !important;
    width: 100% !important;
}

.navbar{
  position: fixed;
  z-index:1;
  border-color:transparent;
  color:white;
}

.alert-dark {
  position: absolute;
  z-index:1;
  border-color:transparent;
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.navbar-center {
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
}

.carousel, .item, .active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.carousel-caption {
    padding-bottom: 2%;
}
.copyright {
  color: white;
  font-size: 12pt;
  position: absolute;
  top: 94%;
  left: 85%;
}

#disappear {
  transition: top 0.8s;
}

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 250;
  line-height: 1;
  letter-spacing: -.05rem;
  font-size: 200% !important;
  color: green !important;
  margin-top: 6% !important;
}

.register-container {
  position: static;
  margin: 2%;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:assets/img/7655.png");
}

/* Background images are set within the HTML using inline CSS, not here */
 .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.9;
    top: 50px
}
