.carousel {
  height: 100% !important;
  width: 100%;
  position: relative;
}

html, body {
    height: 100%;
    background-color: black;
}

footer {
    margin: 50px 0;
}
body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

.alert {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
}

.img {
    filter: brightness(0.45);
    height: 100% !important;
    width: 100% !important;
}

.navbar{
  position:fixed;
  z-index:1;
  border-color:transparent;
  color:white;
}

.alert-dark {
  position: absolute;
  z-index:1;
  border-color:transparent;
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.carousel, .item, .active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.carousel-caption {
    padding-bottom: 2%;
}
.copyright {
  color: white;
  font-size: 12pt;
  position: fixed;
  top: 96%;
}

/* Background images are set within the HTML using inline CSS, not here */
 .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.9;
    top: 50px
}
