.carousel {
  width: 100%;
}

html, body { height: 100%; width: 100%; margin: 0; }

.alert {
  position: absolute;
  bottom: 0;
  margin: 0;
  margin-left: 25%;
}

.img {
    filter: brightness(0.25);
    max-height: 650px;
}
