.carousel {
  height: 100% !important;
  width: 100% !important;
  position: relative;
}

html, body {
    height: 100%;
    background-color: white;
}

body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

.alert {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
}

.navbar-brand {
  font-size: 150%;
}

.nav-item {
  font-size: 120%;
}

.img {
    filter: brightness(0.45);
    height: 100% !important;
    width: 100% !important;
}

.navbar{
  position: fixed;
  z-index:1;
  border-color:transparent;
  color:white;
}

.alert-dark {
  position: absolute;
  z-index:1;
  border-color:transparent;
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.navbar-center {
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
}

.carousel, .item, .active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.carousel-caption {
    padding-bottom: 2%;
}
.copyright {
  color: white;
  font-size: 12pt;
  position: absolute;
  top: 94%;
  left: 85%;
}

#disappear {
  transition: top 0.8s;
}

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-image {
  position: absolute;
    margin-top: -300px;
}

.featurette-image.pull-left,
.featurette-image.pull-right {
  display: block;
  float: none;
  max-width: 40%;
  margin: 0 auto 20px;
}

.featurette-image.pull-left {
  margin-right: 750px;
}
.featurette-image.pull-right {
  margin-left: 750px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 250;
  line-height: 1;
  letter-spacing: -.05rem;
  font-size: 200% !important;
  color: green !important;
  margin-top: 6% !important;
}

.register-container {
  position: static;
  margin: 2%;
}

.form-header {
  position: static;
  margin-left: 3%;
  margin-top: 2%;
}

/* Ask user for Worker or Company */
/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
 background-color: white;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 20px solid gray;
 width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.company,
.worker {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
 margin: 0.7%;
 margin-right: 1%;
 margin-top: -0.2%;
}

.dayDate1 {
  max-width: 100px;
  margin-right: 20px;
}

.dayText {
  position: absolute;
  margin-left: 116px;
  margin-top: -30px;
}

.startDate {
  max-width: 150px;
  margin-right: 30px;
}

.dateText {
  position: absolute;
  margin-left: 180px;
  margin-top: -30px;
}

.postleitzahl {
  max-width: 100px;
}

.endDate {
  max-width: 150px;
  margin-left: 225px;
  margin-top: -38.5px;
}

.dayDate2 {
  max-width: 100px;
  margin-left: 150px;
  margin-top: -37px;
}

.company:hover,
.company:focus,
.worker:hover,
.worker:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:/assets/img/7655.png");
}

/* Background images are set within the HTML using inline CSS, not here */
 .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.9;
    top: 50px
}
